@config "../../tailwind.config.ts";

@import "tailwindcss";

@layer components {
  .no-spin-arrows::-webkit-outer-spin-button,
  .no-spin-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-spin-arrows {
    -moz-appearance: textfield;
    appearance: none;
  }
}

:root {
  --primary-color: #e8e8e8;
  --secondary-color: #1e1e1e;
  --accent-color: #d4af37;
  --accent-dark-color: #b38c2d;
  --dark-color: #4a5565;
  --light-color: #d1d5dc;
  --valid-color: #00a63e;
  --invalid-color: #e7000b;
  --ultra-dark-color: #030712;
  --ultra-light-color: #f9fafb;
  --carousel-duration: 30s;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--secondary-color);
}

/* WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 6px;
  border: 2px solid var(--secondary-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }

  .scrollbar-hide {
    -ms-overflow-style: none !important; /* For Internet Explorer and Edge */
    scrollbar-width: none !important; /* For Firefox */
  }
}

.input-focus-glow:focus-within::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background: linear-gradient(to right, transparent, var(--accent-color), transparent);
  filter: blur(2rem);
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.liquid-glass-backdrop {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */
}