@import "tailwindcss";

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af #f1f1f1;
  }
  
  /* WebKit browsers (Chrome, Safari, Edge) */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 6px;
    border: 2px solid #f1f1f1;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }