@config "../../tailwind.config.ts";

@import "tailwindcss";

@layer components {
  .no-spin-arrows::-webkit-outer-spin-button,
  .no-spin-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-spin-arrows {
    -moz-appearance: textfield;
    appearance: none;
  }
}

:root {
  --primary-color: #e8e8e8;
  --secondary-color: #1e1e1e;
  --accent-color: #d4af37;
  --accent-dark-color: #b38c2d;
  --dark-color: #4a5565;
  --light-color: #d1d5dc;
  --valid-color: #00a63e;
  --invalid-color: #e7000b;
  --ultra-dark-color: #030712;
  --ultra-light-color: #f9fafb;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--secondary-color);
}

/* WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 6px;
  border: 2px solid var(--secondary-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }

  .scrollbar-hide {
    -ms-overflow-style: none !important; /* For Internet Explorer and Edge */
    scrollbar-width: none !important; /* For Firefox */
  }
}

html, body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  overscroll-behavior: none;
}

.text-outline {
  text-shadow:
    -1px -1px 0 var(--ultra-dark-color),
     1px -1px 0 var(--ultra-dark-color),
    -1px  1px 0 var(--ultra-dark-color),
     1px  1px 0 var(--ultra-dark-color);
}